{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}
<div class="main-body">
  <form method="post" action="/">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Name" name="enteredurl" id='url' required />
        <label for="url" class="form__label">Enter URL</label> <br />
      </div>
      <!-- <div class="col">
        <input type="number" class="form-control" placeholder="enter citation number" name="cite" id="citeId" required />
    <label for="citeId" class="form__label">Enter minimum number of citations</label><br/>
    
      </div> -->
      <div class="col">
        <button class="btn btn-dark" type="submit"> Enter URL </button>
      </div>
    </div>
</form>
  </div>
  {{name}} <br/>
  
  <!-- {% for link in nameArray %}
    {{loop.counter}} <br/> {{link}} <br/>
  {% endfor %} -->
  <table class="table table-striped" style="">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Author Name</th>
        <th scope="col">Title</th>
        <th scope="col">Journal Name</th>
        <th scope="col">Year</th>
        <th scope="col">Link (DOI)</th>
        <th scope="col">Google scholar link</th>
        <th scope="col">Link Daughter11</th>
        <th scope="col">No of Citations</th>
      </tr>
    </thead>
    <tbody>
      {% set c = 0 %}
      {% for x in range(array| length) %}
      {% set c = c + 1 %}
      <tr>
          <td scope="row">{{ loop.index }}</td>
          <td>{{author[x]}}</td>
          <td>{{titleAll[x]}}</td>
          <td>{{journals[x]}}</td>
          <td>{{YearList[x]}}</td>
          {% set url_sent = DOIList[x].split("/") %}
          {% set url_passed = "$".join(url_sent) %}
          <td><a href="{{DOIList[x]}}" target="_blank">Go to article</a></td>
          <td><a href="{{array[x]}}" target="_blank"> click</a></td>
          <td>
            <!-- <a href="/{{x}}" target="_blank"> click</a> -->
            <form action="/search" method="get" autocomplete="off" class="subscribe-form">
              <div class="form-group d-flex">
                  <input type="text" class="form-control" placeholder="Enter your search" name="q" id="q" value="{{DOIList[x]}}">
                  <a target="_blank"><button type="submit" class="submit px-3"> click </button></a>
              </div>
          </form>
          </td>
          <td><iframe height="50" data="https://api.elsevier.com/content/abstract/citation-count?doi=&httpAccept=text/html&apiKey=54bad7c0bcfc73520b44a7a603ae8ed5"></iframe></td>
      </tr>
     
      {% endfor %}
      <!-- {% for auth in auther %}
      
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td></td>
        <td>...</td>
        <td>{{auth}}</td>
      </tr>
     
      {% endfor %} -->
    </tbody>
  </table>
{% endblock %}
